html{
    motion: smooth;
    
}
body {
    background-image: linear-gradient(156deg, rgb(46, 47, 49) 0%,rgba(83, 88, 94, 0.95) 50%,  rgb(59, 58, 58) 100%), url('geometry2.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    margin:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button, h3, h6, a, p, .footer_list, #before_list{
    color:rgba(242,106,75);
}

p, h3, h6, .footer, #before_list{
    font-size: 1.5vw;
    line-height: 3vw;
}

img{
    max-width: 100%;
    border-radius: 1vw;
}

figure{
    display:inline-block;
    margin: 5% 0% 5% 0%;
}

figcaption{
    caption-side: bottom;
    text-align: center;
    color: rgb(145, 144, 144);
    font-size: 0.8vw;
    font-style: italic;
}

form{
    margin-bottom: 5vw;
}

textarea{
    width: 100%;
    padding: 0px;
    border-radius: 1vw 1vw;
    background-color: rgb(187, 209, 239);
}

textarea, textarea::placeholder{
    color: rgb(116, 115, 115);
    font-size: 1.5vw;
    font-style: italic;
}

button{
    background-color: rgb(58, 58, 58);
    border: 1px solid rgba(242,106,75);
    border-radius: 0.5vw 0.5vw;
    box-shadow: 2px 2px;
    font-size: 1vw;
    padding: 0.5vw;
}

.hommie {
    display:inline-block;
    margin: 2vw;
}

.action_menu, .footer{
    width: 100%;
    border-top: 1px solid rgba(242,106,75,0.5);
}

.action_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(52, 52, 52);
    list-style-type: none;
    padding: 0px;
    margin: 0vw;
    color: rgba(242,106,75, 0.50);
    font-size: 1vw;
    line-height: 2.2vw;
}

.action_element{
    transition: 0.3s ease-in-out;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-weight: bold;
    color: rgba(242,106,75, 0.50);
}

.action_element:hover{
    background-color: rgba(242,106,75);
    color: rgb(8, 29, 83);
    cursor: pointer;
    transition: 0.3s;
}

.static_element {
    color: rgba(242,106,75,0.5);
    text-decoration: underline;
    padding-right: 1.5vw;
}

.main_title {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 10vw;
    width: 100%;
    background-image: url("img1.png");
    background-size: 100% 100%;
}

.side{
    width: 20vw;
}

.main_body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10vw;
}

.general {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0vh;
}

.section{
    max-width: 100%;
    margin-bottom: 5vw;
    padding: 2vw;
    text-align: center;
    border-radius: 2vw;
    background: linear-gradient(45deg, rgb(2, 50, 117)0%, rgb(9, 60, 136) 30%,rgba(0, 42, 100)60%,rgb(9, 60, 136)100%) ;
}

.text_plus{
   margin: 5vw;
}

.overwrite{
    position: relative;
}

.subheading{
    margin: 0px;
}

.footer{
    background-color: rgb(50, 49, 49);
}

.logo_img{
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    border-radius: 0px 0px; 
    padding-right: 2vw;
}

.link_item, .social_icon{
    padding: 0px 1vw 0px 1vw;
    text-align: center;
}

.footer_list{
    max-height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0px 2rem 0px;
    margin: 0px;
    justify-content: center;
    list-style: none;
}

.grid_box{
    display:grid;
    grid-template-rows: fit-content fit-content fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
}

#float_box{
    float: right;
    width: 70%;
    margin: 0px;
}

#fig_img27, #wallet{ 
    float:right;
    width: 50%;
    margin: 5%;
}

#wallet{
    margin: 0px;
    padding-left: 4vw;
}

#campus_sports, #hisp1, #bank_account{
    display:inline;
}

#fig_img14, #fig_img15{
    width: 30%;
}

#restaurant_info, #luna, #galleria_text{
    max-width: 100%;
    position:absolute;
    left: 0px;
    bottom: 0px;
    margin: 2% 2% 11% 2%;
    border-radius: 1vw 1vw;
    padding: 1.5vw;
    background-color: rgba(50, 50, 50, 0.617);   
}

#update{
    font-size: 1vw;
}

#grid_text_cl{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

#grid_text_dh{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#fig_img10, #fig_img54, #fig_img28{
    grid-row-start: 1;
    grid-row-end: 3;
}

#fig_img2, #fig_img3{
    width: 40%;
    margin: 0.5vw;
}

#fig_img22{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

#fig_img57{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#before_list{
    text-align: left;
    padding-left: 3vw;
    list-style-type: "🛟";
}